* {
	font-family: "Open Sans", sans-serif;
	box-sizing: border-box;
}

body {
	background: rgb(11, 11, 11);
	color: white;
	margin: 0;
}
a {
	color: lightblue;
}

@keyframes appear {
	from {
		opacity: 0;
		scale: 0.5;
	}
	to {
		opacity: 1;
		scale: 1
	}
}

div:not(.footer){
	animation: appear 5s linear;
	animation-timeline: view();
	animation-range: entry 0% cover 13%;
}
/* ---------- Nav ---------- */

nav {
	padding: 0 5em;
	text-align: center;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;

	background: rgb(16, 16, 16);
}

nav div {
	display: flex;
	gap: 40px;
	align-items: center;
}

.title {
	color: #476efa;
}

.contact {
	width: 90px;
	height: 30px;
	border-radius: 50px;
	border: none;
	background: #476efa;
	color: white;
	font-weight: bold;
}

/* ---------- Banner ---------- */

.banner {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3em 0;
	line-height: 40px;
	font-size: 20px;
	background: rgb(0, 0, 0);
	width: 100%;
	background-image: url(Images/banner.png);
	background-position: center;
	background-size:cover;
	background-repeat: no-repeat;
	padding: 50px;
}

.banner h1 {
	overflow: hidden;
	white-space: nowrap;
	animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
}
.banner img {
	height: 10em;
	margin-right: 60px;
}

.myName {
	color: #92fa47;
}

.bold {
	font-weight: bold;
	font-size: 25px;
}

.banner p {
	font-size: 17px;
}

/* ! Skills Section */

.skillHeading {
	text-align: center;
	margin-top: 4em;
	margin-bottom: 30px;
}

.skills {
	display: flex;
	text-align: center;
	gap: 80px;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
}

.skills div {
	align-self: center;
	padding: 20px;
	width: auto;
	border-radius: 20px;
	transition: 0.2s;
}

.skills img {
	height: 80px;
	margin: 0;
	padding: 0;
}

.html {
	box-shadow: 0px 0px 10px -3px #ef662a;
}

.html:hover {
	box-shadow: 0px 0px 10px -0.1px #ef662a;
}

.css {
	box-shadow: 0px 0px 10px -3px #2965f1;
}

.css:hover {
	box-shadow: 0px 0px 10px -0.1px #2965f1;
}

.javascript {
	box-shadow: 0px 0px 10px -3px #f1c937;
}

.javascript:hover {
	box-shadow: 0px 0px 10px -0.1px #f1c937;
}

.react {
	box-shadow: 0px 0px 10px -3px #61dbfb;
}

.react:hover {
	box-shadow: 0px 0px 10px -0.1px #61dbfb;
}

.python {
	box-shadow: 0px 0px 10px -3px #0277bd;
}

.python:hover {
	box-shadow: 0px 0px 10px -0.1px #0277bd;
}

.java {
	box-shadow: 0px 0px 10px -3px #ff6f00;
}

.java:hover {
	box-shadow: 0px 0px 10px -0.1px #ff6f00;
}

.swift {
	box-shadow: 0px 0px 10px -3px #f8312f;
}

.swift:hover {
	box-shadow: 0px 0px 10px -0.1px #f8312f;
}

.figma {
	box-shadow: 0px 0px 10px -3px #A259FF;
}

.figma:hover {
	box-shadow: 0px 0px 10px -0.1px #A259FF;
}

h2 {
	margin-bottom: 20px;
	text-align: center;
}

.aboutme {
	width: 80%;
	margin: auto;
	margin-top: 60px;
	box-shadow: 1px 1px 40px 1px rgb(4, 133, 245, 30%);
	border: solid 2px rgba(0, 106, 255, 0.2);
	padding: 5px 20px;
	border-radius: 30px;
	line-height: 25px;
}

.aboutme h2 {
	text-align: left;
}

/* !========= Projects ========== */

:root {
	--card-color: rgb(17, 17, 17);
}

.projects {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	width: 90%;
	margin: auto;
	justify-content: center;
}

.projects:hover > .card::after {
	opacity: 1;
}

.card {
	background-color: rgb(27, 27, 27);
	height: 300px;
	width: 350px;
	border-radius: 10px;
	position: relative;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.card:hover::before,
.card:hover::after {
	opacity: 1;
}

.card::before,
.card::after {
	border-radius: inherit;
	content: "";
	height: 100%;
	left: 0px;
	opacity: 0;
	position: absolute;
	top: 0px;
	transition: opacity 500ms;
	width: 100%;
}

.card::after {
	background: radial-gradient(
		600px circle at var(--mouse-x) var(--mouse-y),
		rgba(255, 255, 255, 0.4),
		transparent 40%
	);
	z-index: 1;
}

.js::before {
	background: radial-gradient(
		800px circle at var(--mouse-x) var(--mouse-y),
		rgba(248, 223, 31, 0.1),
		transparent 40%
	);
	z-index: 3;
}

.js::after {
	background: radial-gradient(
		600px circle at var(--mouse-x) var(--mouse-y),
		rgba(248, 223, 31, 0.4),
		transparent 40%
	);
	z-index: 1;
}

.reactjs::before {
	background: radial-gradient(
		800px circle at var(--mouse-x) var(--mouse-y),
		rgba(0, 200, 255, 0.1),
		transparent 40%
	);
	z-index: 3;
}

.reactjs::after {
	background: radial-gradient(
		600px circle at var(--mouse-x) var(--mouse-y),
		rgba(0, 200, 255, 0.4),
		transparent 40%
	);
	z-index: 1;
}

.javaC::before {
	background: radial-gradient(
		800px circle at var(--mouse-x) var(--mouse-y),
		rgba(235, 45, 46, 0.1),
		transparent 40%
	);
	z-index: 3;
}

.javaC::after {
	background: radial-gradient(
		600px circle at var(--mouse-x) var(--mouse-y),
		rgba(235, 45, 46, 0.4),
		transparent 40%
	);
	z-index: 1;
}

.htmlC::before {
	background: radial-gradient(
		800px circle at var(--mouse-x) var(--mouse-y),
		rgba(227, 78, 37, 0.1),
		transparent 40%
	);
	z-index: 3;
}

.htmlC::after {
	background: radial-gradient(
		600px circle at var(--mouse-x) var(--mouse-y),
		rgba(227, 78, 37, 0.4),
		transparent 40%
	);
	z-index: 1;
}

.cssC::before {
	background: radial-gradient(
		800px circle at var(--mouse-x) var(--mouse-y),
		rgba(41, 101, 241, 0.1),
		transparent 40%
	);
	z-index: 3;
}

.cssC::after {
	background: radial-gradient(
		600px circle at var(--mouse-x) var(--mouse-y),
		rgba(41, 101, 241, 0.4),
		transparent 40%
	);
	z-index: 1;
}

.static::before {
	background: radial-gradient(
		800px circle at var(--mouse-x) var(--mouse-y),
		rgba(41, 101, 241, 0.1),
		rgba(239, 101, 42, 0.2),
		rgba(239, 101, 42, 0.1)
	);
	z-index: 3;
}

.static::after {
	background: radial-gradient(
		600px circle at var(--mouse-x) var(--mouse-y),
		rgba(227, 78, 37, 0.4),
		transparent 40%
	);
	z-index: 1;
}

.uiuxC::before {
	background: radial-gradient(
		800px circle at var(--mouse-x) var(--mouse-y),
		rgba(242.45, 78.104, 32.398, 0.1),
		rgba(162.2, 89.314, 254.88, 0.1),
		rgba(19.081, 187.75, 255, 0.1),
		rgba(19.401, 207.48, 131.41, 0.1),
		
		transparent 60%
	);
	z-index: 3;
}

.uiuxC::after {
	background: radial-gradient(
		600px circle at var(--mouse-x) var(--mouse-y),
		rgba(242.45, 78.104, 32.398, 0.1),
		rgba(162.2, 89.314, 254.88, 0.1),
		rgba(19.081, 187.75, 255, 0.1),
		rgba(19.401, 207.48, 131.41, 0.1),
		transparent 60%
	);
	z-index: 1;
}

.swiftC::before {
	background: radial-gradient(
		800px circle at var(--mouse-x) var(--mouse-y),
		rgba(248.65, 159.25, 63.888, 0.1),
		rgba(241.96, 81.938, 52.736, 0.1),
		transparent 40%
	);
	z-index: 3;
}

.swiftC::after {
	background: radial-gradient(
		600px circle at var(--mouse-x) var(--mouse-y),
		rgba(248.65, 159.25, 63.888, 0.1),
		rgba(241.96, 81.938, 52.736, 0.1),
		transparent 40%
	);
	z-index: 1;
}

.card > .cardContent {
	background-color: var(--card-color);
	border-radius: inherit;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	inset: 2px;
	padding: 10px;
	position: absolute;
	z-index: 2;
	padding-left: 15px;
}

.cardContent img {
	width: 180px;
	margin: auto;
}

.cardContent * {
	padding: 0;

	margin: 0;
}

.projectTitle {
	font-size: 18px;
	margin-top: 10px;
}

.languages {
	font-size: 10px;
	margin: 6px 0;
	color: rgb(119, 119, 119);
}

.card img {
	width: 19em !important;
	height: 10em;
	border-radius: 10px;
	object-fit: cover;
}

.card a,
.link {
	font-size: 10px;
	margin-top: 5px;
	color: rgb(187, 221, 255);
	z-index: 4;
	position: relative;
}
.projectDescription {
	font-size: 12px;
}

.projectH2 {
	margin-top: 4em;
}
.instruction {
	text-align: center;
	font-size: 13px;

	color: rgb(255, 255, 255);
}

/* Footer */
footer {
	background: rgb(0, 0, 0);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10em;
	padding-left: 4.5em;
	margin-top: 5em;
}

footer h1 {
	color: #e3e3e3;
	font-size: 25px;
}

footer img {
	width: 25px;
}

.media {
	margin-right: 50px;
}

.media p {
	display: flex;
	align-items: center;
	gap: 15px;
}



/* Tab Menu */
#tabMenu {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	background: rgb(30, 30, 30);
	width: 29em;
	padding: 8px 10px;
	margin: 20px auto;

	border-radius: 50px;
}

#tabMenu button {
	border-radius: 50px;
	border: none;
	height: 30px;
	width: 150px;
	cursor: pointer;
	transition: .2s;
}


#tabMenu button:hover {
	transform: scale(1.02)
}


#tabMenu button:active {
	transform: scale(0.9)
}




.selected {
	background: rgb(72.311, 109.93, 250.02);
	color: white;
}